:root {
    --primery-color: teal;   
    --chalk-name:gray;
    --font-family: 'Work Sans', sans-serif;
    --whole-color:rgb(188, 223, 205);
}
*{
    background-color: var(--whole-color);
}

.nav{
    background-color: var(--primery-color);
    text-align: right;
    padding: 3rem 5rem;
    margin-bottom: 5rem;
    border-bottom-left-radius: 2rem ;  
   
}
    

.nav-link{
    display: inline;
    background-color: var(--primery-color);
    color: white;
    padding: 1rem;
    animation-duration: 3s;
    animation-name: slidein;
    text-decoration: none;
    border-radius: 1rem;
      }
    
      
      @keyframes slidein {
        from{
        
            margin-left: 10%;
        
        }
         
    }
      .header{
        display: block;
        text-align: center;
      }
      .header img{
          max-height: 300px;
         
      }
      

      
      .h1-name{
          color: var(--chalk-name);
          padding: 3rem 2rem;
          font-family: var(--font-family);
          font-size: 2rem;
      }
      .h1-special{
          color: var(--primery-color);
          
      }

      .upper-container{
          text-align: center;
          font-size: 1.5rem;
          font-family: sans-serif;
          text-decoration: underline;
          line-height: 4rem;   
          padding: 2rem;
         }
         
          

      
      .middile-container{
          font-family: var(--font-family);
          font-size: 1.5rem;
          text-align: center;
          padding: 2rem;
          

      }
      .middile-container >h2{
          text-decoration: underline;

      }

    .button{
         background-color: var(--primery-color);
         display: block;
         text-align: left;
         margin-left: 15rem;
         border-radius: 0.5rem;
         padding: 1rem 5rem;
         color: white;
       
    }
    .last-content{
        text-align: center;
        font-family: var(--font-family);
        font-size: 1.5rem;

    }
    .last-content h2{
        text-decoration: underline;
        padding: 0.5rem;
        
    }
    .footer{
        background-color: var(--primery-color);
          text-align: right;
          padding:1rem;
          border-top-right-radius: 2rem;
        
        
    }
    .footer h1{
        background-color: var(--primery-color);
        display: block;
        text-align: left;
    }
    .footer p{
        background-color: var(--primery-color);
        text-align: left;
    }
    .footer a{
        color: var(--whole-color);
        background-color: var(--primery-color);
        padding: 0rem 2rem;

    }
    
  
 